
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

.price{
    font-size: 8vmin;
    display: block;
    margin: auto;
    margin-top: 15vmin;
    text-align: center;
    width: 50%;
    color: rgb(160, 160, 160);
}

.account-container{
    display: block;
    margin: auto;
    margin-top: 10vmin;
    margin-bottom: 5vmin;
    background: linear-gradient(rg));
    color: white;
    padding: 2vmin;
    border-radius: 5vmin;
    width: 15%;
}

.account{
    font-size: 4
    vmin;
    display: block;
    margin: auto;
    text-align: center;
    width: 50%;
}

.button-container{
    display: flex;
    justify-content: center;
}

.button{
    height: 10vmin;
    width: 10vmin;
    background-color: green;
    color: white;
    text-align: center;
    display: block;
    margin: 2vmin;
    margin-top: 10vmin;
    cursor: pointer;
}

