
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

.wrapper{
    height: 100vh;
    display: block;
    margin: auto;
}

.price{
    font-size: 6vmin;
    display: block;
    margin: auto;
    margin-top: 15vmin;
    padding: 2vmin;
    text-align: center;
    width: fit-content;
    color: rgb(255, 255, 255);
    background-color: rgb(20, 123, 220);
    box-shadow: 0px ;
}

.account-container{
    display: block;
    margin: auto;
    margin-top: 10vmin;
    margin-bottom: 5vmin;
    background: linear-gradient(to left, rgb(25, 67, 255), rgb(111, 174, 255));
    color: white;
    padding: 2vmin;
    border-radius: 3vmin;
    width: 14%;
}

.account{
    font-size: 2vmin;
    font-weight: 600;
    display: block;
    margin: auto;
    text-align: center;
}

.button-container{
    display: flex;
    justify-content: center;
}

.button{
    height: 10vmin;
    width: 10vmin;
    background-color: green;
    color: white;
    text-align: center;
    display: block;
    margin: 2vmin;
    margin-top: 10vmin;
    cursor: pointer;
}

